.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__image-footer {
  display: flex;
  justify-content: space-between;
}

.card__image {
  width: 413px;
  height: 413px;
  border-radius: 8px;
  margin-bottom: 12px;
  object-fit: cover;
  display: block;
}

.card__name {
  max-width: 350px;
  font-family: "Poppins", Times, serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  background-image: url(../images/like-button.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  padding: 0;
  border: 0;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card {
    width: 100%;
  }
  .card__image {
    width: 288px;
    height: 288px;
  }
  .card__name {
    font-size: 16px;
    line-height: 100%;
    max-width: 268px;
  }
  .card__like-btn {
    width: 20px;
    height: 18px;
  }
}
